.container {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.iconWrapper {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #1a73e8;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  cursor: pointer;

  transition: 0.25s ease;
  text-decoration: none;
}

.iconWrapper:hover {
  background-color: #0f5dcf;
  transform: translateY(-3px);
}

@media (max-width: 600px) {
    .container {
        justify-content: center;
    }
}
