.container {
  margin-top: 4rem;
  text-align: center;
  padding: 0 1.5rem;
}

.headingText {
  color: var(--big-blue-text);
  font-size: 55px;
  margin-bottom: 0.5rem;
}

.subheadingText {
  color: var(--basic-text-color);
  font-size: 18px;
  margin-bottom: 3rem;
}