.hero{
    background-color: var(--bg-primary-color);
    min-height: 100vh;
  width: 100%;
}
.bigcontainer{
    max-width: 1400px;
    margin: 0 auto;
    padding: 8rem 10px;
    display: flex;
    flex-direction: row;



}
.heroHeading{
    font-size: 85px;
    font-weight: 1000;
    color: white;
    margin-bottom: 20px;
    line-height: 1.1;   

} 
.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}
.heroparagraphone{
    color: var(--green-text);
    font-weight: 800;
    font-size: 20px;
}
.heroparagrahtwo{
    color: white;
    font-size: 20px;
 
}

.rightContainer{
    width: 50%;
    height: 500px;
}

@media (max-width: 1024px) {
  .heroHeading {
    font-size: 60px;
  }

  .bigcontainer {
    gap: 2rem;
  }

  .buttonContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .bigcontainer {
    flex-direction: column;
    text-align: left;
    margin: 0 8px ;
    padding-top: 3rem;   
    padding-bottom: 2rem;
  }

  .heroHeading {
    font-size: 60px;
  }

  .heroparagrahtwo {
    font-size: 18px;
  }

  .rightContainer {
    width: 100%;
    height: auto;
    margin-top: 30px;

    display: flex;
    justify-content: center;
  }

  .buttonContainer {
    grid-template-columns: 1fr 1fr;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .heroHeading {
    font-size: 45px;
    margin-top: 10px;
  }

  .buttonContainer {
    grid-template-columns: 1fr; 
  }
}
