.container {
  margin-top: 3rem;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


.headingText {
  color: var(--big-blue-text);
  font-size: 55px;
  margin-top: 1rem;
}

.subheadingText {
  color: var(--basic-text-color);
  font-size: 18px;
}

.blueBlock {
  background: var(--bg-primary-color);
  border-radius: 20px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 0.7rem;
  padding-top: 4rem;
  padding-bottom: 2rem;  
  position: relative;
  overflow: visible;
}

.testimonialWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
  margin-top: -2rem;
}

.card {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardHeader img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.cardHeader h4 {
  font-size: 16px;
  margin: 0;
}

.cardHeader span {
  font-size: 12px;
  color: gray;
}

/* STAR RATING */
.stars {
  margin: 8px 0;
  color: #edcf58;
}

/* REVIEW TEXT */
.cardText {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}

/* RESPONSIVENESS */
@media (max-width: 900px) {
  .headingText {
    font-size: 40px;
  }

  .testimonialWrapper {
    grid-template-columns: 1fr;
  }

  .centerImage img {
    width: 200px;
  }
}
